* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 10rem;
}

.p-4 {
  background-color: #e0e0e0;
  border: 1px solid #dbdbdb;
  color: black;
  font-size: 1.5rem;
}

.btn-warning {
  background-color: #f5913e;
  border: 1px solid #dbdbdb;
  color: black;
  font-size: 1.5rem;
}

.col,
.col-6 {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.w-100 {
  border-radius: 0 !important;
}

.result {
  background-color: gray;
  line-height: 43px;
  min-height: 7vh;
  text-align: right;
}
